* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
    
}
.text-white {
    color: #fff !important;

}
.row {
    margin-left: -8px;
    margin-right: -8px;

}
.col {
    float: left;
    padding-right: 8px;
    padding-left: 8px;

}
.col-third {
    width: 33.33333%;

}
.col-full {
    width:100%;

}
#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
#header .search-btn {
    float:right;
    color : #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;
    


}
.video-ytb {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  
#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
#nav > li {
    display : inline-block;

}
#nav {
    display: inline-block;
}
#nav li  {
    
    position: relative;
}
#nav, .subnav {
    list-style-type: none;
}
#nav li:hover .subnav {
    display:block;

}
#nav .subnav {
    display: none;
    min-width: 160px;

    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.3);
}
#nav > li > a {
    color : #fff;
    text-transform: uppercase;
}
#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;


}
#nav .subnav li:hover a, 
#nav > li:hover >  a {
    color : #000;
    background-color:  #ccc;
}
#nav .subnav a {
    color : #000;
    padding: 0 12px;
    line-height: 38px ;

}
#nav .nav-arrow-down {
    font-size: 14px;
}
#slider {
    /* display: none; */
    
    position:  relative;
    /* display: block; */
    margin-top: 46px;
    /* min-height: 500px; */
    padding-top: 50%;
    background: url('./assets/img/slider/Poster.png') top center / contain repeat;
    /* background-size: 100% center; */
}
/* .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
} */

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#slider .text-content {
    position: absolute;
    text-align:  center;
    bottom: 47px;
    width: 100%;
    color: #fff ;


}
#slider .text-header {
    font-weight: 500;
    font-size: 24px;
}
#slider .text-para {
    font-size: 15px;
    margin-top: 25px;
}
#content {

}
#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 ;
}
#content .section-heading {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 500;
}
#content .subhead {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .section-heading, 
#content .subhead {
    text-align: center;
}
#content .about {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-item {
    

    text-align: center;
    
    padding-top: 48px;
    /* width: 33.33333%; */

}

#content .member-name {
    font-size: 15px;

}
.member-list1 {
    display: block;
    width: 100%;
    
}
#content .member-img {
    background-size: 100% auto;
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;

}
.tour-section {
    background-color: #000;
}
.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;

}
.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* Places */
.places-list {
    margin-top:  32px ;
    margin-bottom: 48px;
}

.place-img {
    width: 100%;
    display: block;

}
.place-img:hover {
    opacity: 0.6;

}
.place-content {
    font-size: 15px;
    padding: 16px;
    background-color: #fff;
}
.place-heading {
    font-weight: 550;
}
.place-time {
    margin-top: 15px;
    color: #757575;

}
.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}
.place-buy-btn {
    color: #fff;
    text-decoration: none;
    padding: 11px 16px;
    background-color: #000;
    display: inline-block;
    margin-top: 15px;
    border: none;

}
.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}

.model {
    position: fixed;
    top: 0 ;
    right: 0 ;
    bottom: 0;
    left: 0 ;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.model.open {
    display: flex;

}
header.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}
.model .ti-bag {
    margin-right: 16px;

}
.modal-close {
    position: absolute;  
    
    /* top: 0; */
    right: 0;
    top: 0 ;

    color: #fff;
    padding: 16px;
    opacity: 0.8;
}
.modal-close:hover {
    cursor: pointer;
    opacity: 1;
}
.modal-body {
    padding: 16px;

}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}
#buy-tickets:hover {
    opacity: 0.9;
    cursor: pointer;
}
.modal-footer {
    padding: 16px;
    text-align: right;
    
}
.modal-footer a {
    color : #2196F3;

}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Contact form */
.contact-content {
    margin-top: 48px;

}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
     
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 6px;
}
.Send {
    float: right;
    background-color: #000;
    text-transform: uppercase;
    font-size: 16px;

    color: #fff;
    padding: 10px;
    border: none;
    margin-bottom: 25px;

}
.Send:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;


}

.map-section img {
    width: 100%;

}
#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .social {
    font-size: 24px;

}
#footer .social a {
    color: rgba(0, 0 , 0 , 0.6);
    text-decoration: none;
}
#footer .social a:hover {
    color: rgba(0, 0 , 0 , 0.3) ;
}